/**
 * @file Ctab_create.css
 */
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,700);

.c-create #i-title-inp {
  width:     450px;
}

#i-codettl-input {
  margin-top:  15px;
  margin-left: 50px;
}

#i-code-send {
  margin-top:  25px;
  margin-left: 500px;
}

/* end of file */
