#i-search {
  width: 400px;
}

.c-search {
  margin-top: 8px;
}

#i-search-input {
  float: left;
}

#i-search-icon {
  font-size: 2.5em;
}

#i-search-btndiv-ujb {
  float:       left;
  margin-top:  7px;
  min-width:   35px;
  height:      47px;
  border:      0px;
  cursor:      pointer;
  padding:     0.5em 0.5em 0.5em 0.5em;
  background:  #C7E0F0;
}

/* end of file */
